# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Virtual environment
# -------------------------
venv/
env/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Secrets / env files
# -------------------------
.env
config.json

# -------------------------
# LlamaIndex generated data
# -------------------------
storage/

rai-chatbot